<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.QuyVuong_BT_CHUYEN_ACTIVITY">

        <!-- Màn hình Login là màn hình chính -->
        <activity
            android:name=".ActivityLogin"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Màn hình Profile, có khai báo cha để quay lại được -->
        <activity
            android:name=".ActivityProfile"
            android:exported="false"
            android:parentActivityName=".ActivityLogin">
            <!-- Dòng này giúp Android biết màn hình cha là Login -->
        </activity>

    </application>

</manifest>
